#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home-letters{
  color: yellow; /* Color del texto amarillo */
  border: 2px solid black; /* Borde negro con grosor de 2px */
  padding: 10px; /* Espaciado interno para resaltar el texto */
  display: inline-block; /* Hace que el borde envuelva el contenido del elemento */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
