:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;

}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Amsterdam';
  src: url('../fonts/AmsterdamThr.ttf') format('truetype');
}

.container {
  background-image: url('../src/assets/img/home.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-title{
  font-family: Montserrat;
}

.game-title span{
  color:red
}

.content {
  text-align: center;
  z-index: 1;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.centered-text {
  text-align: center;
  color: white;
  font-size: 65px;
  font-family: Montserrat;
  letter-spacing: -2px;
  margin-top: -1px;
  -webkit-animation: fluido 10s ease-in-out infinite;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #FFFFFF, #4B6681, #901E1D, #E4B84E);    
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  width: 170px;
  height: 170px;
  display: block;
  margin-top: -50px !important;
  margin: 0 auto; 
}

.logo-name {
  font-size: 30px;
  font-family: Amsterdam;
  /* background-image: linear-gradient(20deg, #ffffff, #901E1D); */
  /* background-clip: text; */
  color:#fff;
  /* z-index: 2;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; */
}

.centered-text#span{
  color:901E1D;

}

@keyframes fluido {
0% {
  background-position: 0 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0 50%;
}
}
